.homePage {
    max-width: 1300px;
    margin-inline: auto;
    padding-inline: 8px;
    padding-block: 98px;
    display: grid;
    gap: 48px;
}

.ourServices {
    display: grid;
    justify-items: center;
    gap: 8px;
}

.ourServices h3 {
    font-size: 30px;
    font-weight: 500;
    line-height: 50px;
    text-align: center;
    color: rgba(28, 28, 28, 1);
}

.ourServices p {
    font-size: 16px;
    font-weight: 500;
    line-height: 50px;
    text-align: center;
    color: rgba(28, 28, 28, 1);
    padding-bottom: 40px;
}

@media screen and (max-width: 920px) {
    .homePage {
        padding-block: 48px;
    }
}
