.cardDesign {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.cardDesign__choose {
    display: grid;
    gap: 36px;
    max-width: 622px;
}

.cardDesign__choose h1 {
    font-size: 48px;
    font-weight: 700;
    line-height: 50px;
    color: rgba(28, 28, 30, 1);;
}

.cardDesign__design {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
}

.radius {
    border-radius: 16px;
}

@media screen and (max-width: 920px) {
    .cardDesign {
        display: grid;
        justify-content: center;
        gap: 20px;
    }
}
