.header {
    max-width: 1300px;
    margin-inline: auto;
    padding-inline: 8px;
    padding-block: 7px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__logo {
    font-family: "Ubuntu", sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 26px;
    letter-spacing: 0.02em;
    text-align: left;
    color: rgba(180, 56, 122, 1);
}

.header__menu {
    display: flex;
    gap: 40px;
    align-items: center;
    flex-wrap: wrap;
}

.header__menu a {
    font-size: 16px;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: 0.02em;
    color: rgba(29, 25, 41, 1);
    cursor: pointer;
    transition: color 0.5s ease-in-out;
}

.header__menu a:hover {
    color: rgba(178, 163, 95, 1);
}

@media screen and (max-width: 500px) {
    .header, .header__menu {
        display: grid;
        gap: 20px;
        justify-items: center;
        justify-content: center;
    }
}
